# Project 6: Importing & Merging many files (Baby Names Dataset) - Part 2

## Importing one File & Understanding the Data Structure (complex case)

In [1]:
import pandas as pd

In [2]:
pd.read_csv("AK.TXT")

       AK  F  1910      Mary  14
0      AK  F  1910     Annie  12
1      AK  F  1910      Anna  10
2      AK  F  1910  Margaret   8
3      AK  F  1910     Helen   7
4      AK  F  1910     Elsie   6
...    .. ..   ...       ...  ..
28522  AK  M  2018      Theo   5
28523  AK  M  2018    Thorin   5
28524  AK  M  2018   Trenton   5
28525  AK  M  2018    Victor   5
28526  AK  M  2018      Zion   5

[28527 rows x 5 columns]

In [3]:
pd.read_csv("AK.TXT", header = None, names = ["State", "Gender", "Year", "Name", "Count"])

      State Gender  Year      Name  Count
0        AK      F  1910      Mary     14
1        AK      F  1910     Annie     12
2        AK      F  1910      Anna     10
3        AK      F  1910  Margaret      8
4        AK      F  1910     Helen      7
...     ...    ...   ...       ...    ...
28523    AK      M  2018      Theo      5
28524    AK      M  2018    Thorin      5
28525    AK      M  2018   Trenton      5
28526    AK      M  2018    Victor      5
28527    AK      M  2018      Zion      5

[28528 rows x 5 columns]

## The glob module

In [4]:
import pandas as pd
from glob import glob

__Single Character Wildcard: ?__

In [5]:
glob("A?.TXT")

['AR.TXT', 'AZ.TXT', 'AL.TXT', 'AK.TXT']

__Zero or more Characters Wildcard: *__

In [6]:
glob("*.TXT")

['IN.TXT',
 'IL.TXT',
 'KS.TXT',
 'SC.TXT',
 'HI.TXT',
 'GA.TXT',
 'SD.TXT',
 'CO.TXT',
 'NH.TXT',
 'MS.TXT',
 'MD.TXT',
 'UT.TXT',
 'LA.TXT',
 'ME.TXT',
 'WI.TXT',
 'NJ.TXT',
 'AR.TXT',
 'NY.TXT',
 'MT.TXT',
 'OK.TXT',
 'MA.TXT',
 'NM.TXT',
 'WY.TXT',
 'OH.TXT',
 'OR.TXT',
 'NV.TXT',
 'TX.TXT',
 'TN.TXT',
 'AZ.TXT',
 'MN.TXT',
 'WA.TXT',
 'WV.TXT',
 'NC.TXT',
 'MO.TXT',
 'AL.TXT',
 'VA.TXT',
 'CA.TXT',
 'CT.TXT',
 'AK.TXT',
 'ND.TXT',
 'VT.TXT',
 'MI.TXT',
 'NE.TXT',
 'KY.TXT',
 'ID.TXT',
 'DC.TXT',
 'IA.TXT',
 'FL.TXT',
 'PA.TXT',
 'RI.TXT',
 'DE.TXT']

In [ ]:
glob("subdir\\*.TXT")

In [ ]:
pd.read_csv("subdir\\yob1880.txt")

In [ ]:
filenames = glob("*.TXT")

In [ ]:
filenames

In [ ]:
len(filenames)

# Importing & merging many Files (complex case)

In [ ]:
filenames

In [ ]:
dataframes = []
for name in filenames:
    df = pd.read_csv(name, header = None, names = ["State", "Gender", "Year", "Name", "Count"])
    dataframes.append(df)

In [ ]:
dataframes

In [ ]:
len(dataframes)

In [ ]:
df = pd.concat(dataframes, ignore_index = True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.to_csv("baby_names_state.csv", index = False)

In [ ]:
pd.read_csv("baby_names_state.csv")

## Excursus: Saving Memory - Categorical Features

In [ ]:
df.info()

In [ ]:
df.nunique()

In [ ]:
df.Gender = df.Gender.astype("category")
df.State = df.State.astype("category")