# Project 3: Data Cleaning - Tidy up messy Datasets (Movies Dataset)

## First Steps

In [1]:
# first step is to always import le data
import pandas as pd
pd.options.display.max_columns = 30

In [2]:
# what does low memory to false do
df = pd.read_csv("movies_metadata.csv", low_memory=False)

In [3]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [ ]:
df.info()

In [ ]:
df.genres[0]

In [ ]:
df.belongs_to_collection[0]

## Dropping irrelevant Columns

In [ ]:
df.info()

In [ ]:
df.adult.value_counts()

In [ ]:
df.drop(columns = ['adult'], inplace = True)

In [ ]:
df.drop(columns = ['imdb_id'], inplace = True)

In [ ]:
df.drop(columns = ['original_title'], inplace = True)

In [ ]:
df.drop(columns = ['video'], inplace= True)

In [ ]:
df.drop(columns = ['homepage'], inplace= True)

## How to handle stringified JSON columns (Part 1)

In [ ]:
import json
import ast

In [ ]:
json_col = ["belongs_to_collection", "genres", "production_countries", 
            "production_companies", "spoken_languages"]

In [ ]:
df.belongs_to_collection[0]

In [ ]:
json1 =  "{'dog':3, 'cat':5}"

In [ ]:
#json.loads(json1)

In [ ]:
json2 = '{"dog":3, "cat":5}'

In [ ]:
json.loads(json2)

In [ ]:
json1.replace("'", '"')

In [ ]:
json.loads(json1.replace("'", '"'))

In [ ]:
df.genres.apply(lambda x: json.loads(x.replace("'", '"')))[0]

In [ ]:
ast.literal_eval(json1)

In [ ]:
ast.literal_eval(json2)

In [ ]:
df.genres.apply(ast.literal_eval)[0]

In [ ]:
df.genres = df.genres.apply(ast.literal_eval)

In [ ]:
#df.loc[:, json_col].apply(ast.literal_eval, axis = 0)

In [ ]:
#ast.literal_eval(0)

## How to handle stringified JSON columns (Part 2)

In [ ]:
import numpy as np

In [ ]:
df.belongs_to_collection

In [ ]:
df.belongs_to_collection.apply(lambda x: isinstance(x, str))

In [ ]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.belongs_to_collection [0]

In [ ]:
df.spoken_languages

In [ ]:
df.spoken_languages = df.spoken_languages.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.production_countries

In [ ]:
df.production_countries = df.production_countries.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df.production_companies

In [ ]:
df.production_companies = df.production_companies.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [ ]:
df

## How to flatten nested Columns

In [ ]:
df.belongs_to_collection[0]

In [ ]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

In [ ]:
df.belongs_to_collection.value_counts(dropna = False).head(20)

In [ ]:
df.genres[0]

In [ ]:
df.genres = df.genres.apply(lambda x: "|".join(i['name'] for i in x))

In [ ]:
df.genres[0]

In [ ]:
df.genres.value_counts(dropna = False).head(20)

In [ ]:
df.genres.replace("", np.nan, inplace = True)

In [ ]:
df.spoken_languages

In [ ]:
df.spoken_languages = df.spoken_languages.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.spoken_languages.value_counts(dropna = False).head(20)

In [ ]:
df.spoken_languages.replace("", np.nan, inplace = True)

In [ ]:
df.production_countries

In [ ]:
df.production_countries = df.production_countries.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.production_countries.value_counts(dropna = False).head(20)

In [ ]:
df.production_countries.replace("", np.nan, inplace = True)

In [ ]:
df.production_companies

In [ ]:
df.production_companies = df.production_companies.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [ ]:
df.production_companies.value_counts(dropna = False).head(20)

In [ ]:
df.production_companies.replace("", np.nan, inplace = True)

In [ ]:
df.isna().sum()

In [ ]:
pd.read_csv("movies_metadata.csv", low_memory=False).isna().sum()

## Cleaning Numerical Columns (Part 1)

In [ ]:
df.info()

In [ ]:
#df.budget.astype("float")

In [ ]:
#pd.to_numeric(df.budget)

In [ ]:
df.budget = pd.to_numeric(df.budget, errors = "coerce")

In [ ]:
df.budget.value_counts(dropna = False)

In [ ]:
df.budget = df.budget.replace(0, np.nan)

In [ ]:
df.budget = df.budget.div(1000000)

In [ ]:
df.info()

In [ ]:
df.revenue.value_counts(dropna = False)

In [ ]:
df.revenue = df.revenue.replace(0, np.nan)
df.revenue = df.revenue.div(1000000)

In [ ]:
df.rename(columns = {"revenue":"revenue_musd", "budget":"budget_musd"}, inplace = True)

In [ ]:
df.info()

## Cleaning Numerical Columns (Part 2)

In [ ]:
df.runtime.value_counts(dropna = False).head(20)

In [ ]:
df.runtime = df.runtime.replace(0, np.nan)

In [ ]:
df.info()

In [ ]:
#pd.to_numeric(df.id)

In [ ]:
df.id = pd.to_numeric(df.id, errors = "coerce")

In [ ]:
df.id.value_counts(dropna = False).head(20)

In [ ]:
df.info()

In [ ]:
df.popularity

In [ ]:
#pd.to_numeric(df.popularity)

In [ ]:
df.popularity = pd.to_numeric(df.popularity, errors='coerce')

In [ ]:
df.popularity.value_counts(dropna = False).head(20)

In [ ]:
df.vote_count.value_counts(dropna = False).head(20)

In [ ]:
df.vote_average.value_counts(dropna = False).head(20)

In [ ]:
df.loc[df.vote_count == 0, "vote_average"]

In [ ]:
df.loc[df.vote_count == 0, "vote_average"] = np.nan

In [ ]:
df.info()

## Cleaning DateTime Columns

In [ ]:
df.info()

In [ ]:
df.release_date

In [ ]:
#pd.to_datetime(df.release_date)

In [ ]:
df.release_date = pd.to_datetime(df.release_date, errors = "coerce")

In [ ]:
df.release_date.value_counts(dropna = False).head(20)

## Cleaning Text / String Columns

In [ ]:
df.info()

In [ ]:
df.original_language.value_counts(dropna = False).head(50)

In [ ]:
df.title

In [ ]:
df.title.value_counts(dropna = False).head(20)

In [ ]:
df.overview[0]

In [ ]:
df.overview.value_counts(dropna = False).head(20)

In [ ]:
df.overview.replace("No overview found.", np.nan, inplace = True)

In [ ]:
df.overview.replace("No Overview", np.nan, inplace = True)

In [ ]:
df.overview.replace("No movie overview available.", np.nan, inplace = True)

In [ ]:
df.overview.replace(" ", np.nan, inplace = True)

In [ ]:
df.overview.replace("No overview yet.", np.nan, inplace = True)

In [ ]:
df.tagline.value_counts(dropna = False).head(50)

In [ ]:
df.tagline.replace("-", np.nan, inplace = True)

## Removing Duplicates

In [ ]:
df[df.duplicated(keep =  False)].sort_values(by = "id")

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df[df.duplicated(subset = "id", keep = False)].sort_values(by = "id")

In [ ]:
df.drop_duplicates(subset = "id", inplace = True)

In [ ]:
df.id.value_counts(dropna = False)

## Handling Missing Values & Removing Observations

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df[df.title.isna()]

In [ ]:
df.dropna(subset = ["id", "title"], inplace = True)

In [ ]:
df.id = df.id.astype("int")

In [ ]:
df.notna().sum(axis = 1).value_counts().sort_values(ascending = False)

In [ ]:
df[df.notna().sum(axis = 1) == 6]

In [ ]:
df.dropna(thresh = 10, inplace = True)

In [ ]:
df.info()

In [ ]:
df.isna().sum()

## Final (Cleaning) Steps

In [ ]:
df.status.value_counts()

In [ ]:
df = df.loc[df.status == "Released"].copy()

In [ ]:
df.drop(columns = ["status"], inplace = True)

In [ ]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
       "original_language", "budget_musd", "revenue_musd", "production_companies",
       "production_countries", "vote_count", "vote_average", "popularity", "runtime",
       "overview", "spoken_languages", "poster_path"]

In [ ]:
df = df.loc[:, col]

In [ ]:
df

In [ ]:
df.reset_index(drop = True, inplace =True)

In [ ]:
df.info()

In [ ]:
df.poster_path[0]

In [ ]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df.poster_path = "<img src='" + base_poster_url + df.poster_path + "' style='height:100px;'>"

In [ ]:
df.to_csv("movies_clean.csv", index = False)

In [ ]:
pd.read_csv("movies_clean.csv").info()